/* Why use a framework */

.whyUseFramework {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.whyUseFramework h1 {
  font-size: 36px;
  font-weight: 600;
}

.whyUseFramework p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.whyUseFramework .row {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 2%;
}

.whyUseFramework .col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  text-align: left;
}

.whyUseFramework h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.whyUseFramework .col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .whyUseFramework .row {
    flex-direction: column;
  }
}

/* mostUsedFramework */

.mostUsedFramework {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 25px;
}

.mostUsedFramework h1 {
  font-size: 36px;
  font-weight: 600;
}
/* non esiste più
.mostUsedFramework p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
*/
.mostUsedFramework .row {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 2%;
}

.mostUsedFramework .col {
  flex-basis: 32%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.mostUsedFramework .col img {
  width: 100%;
  height: 100%;
}

.mostUsedFramework .col .layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.mostUsedFramework .col .layer:hover {
  background: rgba(226, 0, 0, 0.7);
}

.mostUsedFramework .col .layer h3 {
  width: 100%;
  color: #fff;
  font-weight: 500;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.mostUsedFramework .col .layer:hover h3 {
  bottom: 50%;
  opacity: 1;
}

@media (max-width: 700px) {
  .mostUsedFramework .row {
    flex-direction: column;
  }
}

/* frameworkPopularity */

.frameworkPopularity {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  padding-top: 25px;
}

.frameworkPopularity h1 {
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 20px;
}

.frameworkPopularity p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.frameworkPopularity .row {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.frameworkPopularity .row:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.frameworkPopularity .row h2 {
  font-size: 26px;
  font-weight: 400;
}

.frameworkPopularity .row img {
  width: 100%;
}

@media (max-width: 700px) {
  .frameworkPopularity .row img {
    width: 100%;
    height: 100%;
  }
}


/*
.frameworkPopularity {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 5%;
}

.frameworkPopularity h1 {
  font-size: 36px;
  font-weight: 600;
}

.frameworkPopularity p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.frameworkPopularity .row {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.frameworkPopularity .row:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.frameworkPopularity .row h2 {
  font-size: 26px;
  font-weight: 400;
}

@media (max-width: 700px) {
  .frameworkPopularity .row img {
    width: 100%;
    height: 100%;
  }
}
*/
/*font generici delle pagine*/

p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

