* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: "dogica";
  src: local("dogica"),
    url("./fonts/dogica.ttf") format("truetype");
}

@font-face {
  font-family: "dogicabold";
  src: local("dogicabold"),
    url("./fonts/dogicabold.ttf") format("truetype");
}

@font-face {
  font-family: "dogicapixel";
  src: local("dogicapixel"),
    url("./fonts/dogicapixel.ttf") format("truetype");
}

@font-face {
  font-family: "dogicapixelbold";
  src: local("dogicapixelbold"),
    url("./fonts/dogicapixelbold.ttf") format("truetype");
}

@font-face {
  font-family: "pkmnHollow";
  src: local("PokemonHollow"),
    url("./fonts/PokemonHollow.ttf") format("truetype");
}

@font-face {
  font-family: "pkmnSolid";
  src: local("PokemonSolid"),
    url("./fonts/PokemonSolid.ttf") format("truetype");
}